{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>LogIn</title>
{% endblock title %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/users/forms.css' %}">
{% endblock links %}

{% block content %}
    <form method="POST" action="{% url 'account_login' %}" class="form__content">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="LogIn" class="sign__btn"/>
    </form>
    <a href="/accounts/github/login/" class="github_button">Login with SocialAccount</a>
{% endblock content %}