{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>SignUp</title>
{% endblock title %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/users/forms.css' %}">
{% endblock links %}

{% block content %}
    <form method="POST" action="{% url 'account_signup' %}" class="form__content" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="SignUp" class="sign__btn"/>
    </form>
    <a href="/accounts/github/login/" class="github_button">Login with GitHub</a>
{% endblock content %}