@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Geologica
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #131212;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#ffffff, #dfe4e4);
    border: 4px solid #131212;
    border-radius: 5px;
    transition: 300ms;
}
h1{
    color: white;
}
body{
    position: relative;
    background-color: #2C2C2C;
}
a{
    text-decoration: none;
    color: #fff;
}
.bg__img{
    width: 100%;
    height: 100%;
}
.bg__img img{
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}
.limiter{
    margin: 0 auto;
    max-width: 1280px;
}
.header{
    height: 75px;
    background-color: #2C2C2C;
}
.header__content{
    height: 100%;
}
.header__row {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    color: #fff;
}
.header__logo {
    font-size: 28px;
    transition: transform 300ms;
}
.header__sign-block {
    font-size: 20px;
    display: flex;
}
.stick{
    margin: 0px 10px;
}
.sign-up {
    transition: transform 300ms;
}
.sign-in {
    transition: transform 300ms;
}
.log-out {
    transition: transform 300ms;
}
.create-post {
    transition: transform 300ms;
}
.main{
    min-height: calc(100vh - 75px - 40px);
}
.main__content{
    background-color: #131212f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 75px - 40px);
}
.footer{
    height: 40px;
    background-color: #2C2C2C;
}
.header__buttons-block {
    font-size: 18px;
    display: flex;
    align-items: center;
}
.user_logo{
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
    border: 5px solid white;
}